<config>
	<spark-path>lib/spark.jar</spark-path>
	<recent-projects>
		<file>/Users/harrycooper/Desktop/University/Third Year/Sem 1/COM3610 - Dissertation/SPARK_1.1a_mac/./samples/Fractals/Fractals.xml</file>
		<file>/Users/harrycooper/Desktop/University/Third Year/Sem 1/COM3610 - Dissertation/SPARK_1.1a_mac/./samples/PhysModel2/Spark PhysModel2.xml</file>
		<file>/Users/harrycooper/Desktop/University/Third Year/Sem 1/COM3610 - Dissertation/SPARK_1.1a_mac/./samples/Fire/FireModel.xml</file>
		<file>/Users/harrycooper/Desktop/University/Third Year/Sem 1/COM3610 - Dissertation/SPARK_1.1a_mac/./samples/LinksDemo/LinksDemo.xml</file>
		<file>/Users/harrycooper/Desktop/University/Third Year/Sem 1/COM3610 - Dissertation/SPARK_1.1a_mac/./samples/InnateImmuneResponse Ver2/Innate Immune Response 2.xml</file>
		<file>/Users/harrycooper/Desktop/University/Third Year/Sem 1/COM3610 - Dissertation/SPARK_1.1a_mac/./samples/InnateImmuneResponse Ver1/Innate Immune Response.xml</file>
	</recent-projects>
</config>
